<div class="banner" style="background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%), url('https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1998822d443cf97d75258149476c5aa5&auto=format&fit=crop&w=1349&q=80');">
  <div class="banner-content">
    <h1>Cock + Tail</h1>
     <p>
  <span id="banner-typed-text"></span>
    </p>
    <%= link_to "Discover", cocktail_path(@random_cocktail), class: "btn btn-danger btn-rounded"%>
  </div>
</div>

<script type="typer.js"></script>
